<template name="editGroupMembers">

  {{#with group}}

    group id: {{_id}}

    <div class="group-members">
      <h1>Edit Members</h1>

      <ul>
        {{#each members}}
          <li>
            <span class="username large">{{username}}</span>
            <span class="member-post-count info">
              <span class="zmdi zmdi-equalizer"></span>{{pluralize memberPostCount 'Posts'}}<a name="remove-member" data-group-id="{{../_id}}" data-id="{{_id}}" class="btn">Remove</a>
            </span>
          </li>
        {{/each}}
      </ul>

    </div>


  <form class="manage-group">
    <div class="form-group">
      <label for="invite-by-username">{{#if errorMessage 'invites-by-username'}}<span class="help-block">{{errorMessage 'invite-by-username'}}</span>{{else}}Invite new member by username{{/if}}</label>
      {{> inputAutocomplete settings=settings id="msg" placeholder="Username"}}
    </div>

    <button type="submit">Invite</button>
  </form>

  {{/with}}


</template>
