<template name="editGroupMembers">

  {{#with group}}

    <div class="group-members">
      <h1>Edit Members</h1>

      <ul>
        {{#each members}}
          <li>{{username}} <span class="zmdi zmdi-equalizer"></span>{{pluralize memberPostCount 'Posts'}}<a name="remove-member" class="btn">Remove</a></li>
        {{/each}}
      </ul>

    </div>


  <form class="manage-group">
    <div class="form-group">
      <label for="invite-by-username">{{#if errorMessage 'invites-by-username'}}<span class="help-block">{{errorMessage 'invite-by-username'}}</span>{{else}}Invite new member by username{{/if}}</label>
      {{> inputAutocomplete settings=settings id="msg" placeholder="Username"}}

      <!-- <input type="text" id="invite-by-username" name="invite-by-username" placeholder="Username"> -->
    </div>

<!--
    <div class="form-group">
      <label for="invite-by-mail">{{#if errorMessage 'invite-by-mail'}}<span class="help-block">{{errorMessage 'invite-by-mail'}}</span>{{else}}Invite by mail{{/if}}</label>
      <input type="text" id="invite-by-mail" name="invite-by-mail" placeholder="Email">
    </div> -->

    <button type="submit">Invite</button>
  </form>

  {{/with}}


</template>
