<template name="manageGroup">

  <h1>Manage group</h1>

  {{#with group}}

    <div class="group-members">
      <h1>Members</h1>

      <ul>
        {{#each members}}
          <li>{{username}} <span class="zmdi zmdi-equalizer"></span>{{pluralize memberPostCount 'Posts'}}</li>
        {{/each}}
      </ul>

    </div>

  {{/with}}

  <form class="manage-group">
    <div class="form-group">
      <label for="invite-new-member">{{#if errorMessage 'invite-new-member'}}<span class="help-block">{{errorMessage 'invite-new-member'}}</span>{{else}}Invite new member{{/if}}</label>
      <input type="text" id="invite-new-member" name="invite-new-member" placeholder="Username">
    </div>

    <button type="submit">Invite</button>
  </form>

</template>
