.groups
  h1
    border-bottom 1px solid rgba(255,255,255,.2)

  .your-groups
    margin-bottom 100px

  div ul li
    border-bottom 1px solid rgba(255,255,255,.2)
    margin 40px 0

    &.name
      cursor pointer
      padding 40px 0
      font normal 32px/1.4 'Maison Neue Mono Regular', Consolas 'Andale Mono', monospace
      letter-spacing -1px

      a
        color white
        display block

        &:hover
          color _primary

      span
        color _white
        font-size 16px

        a
          display inline-block
          color _primary

          &:hover
            border-bottom 1px solid _primary
