
header
  position fixed
  top 0
  right 0
  width 100%
  background black
  padding 30px
  box-sizing border-box

  .logo
    float left
    cursor pointer

    a
      color white

    img
      width 50px

nav
  float right
  font normal 17px/1.4 'Maison Neue Mono Regular', Consolas 'Andale Mono', monospace
  letter-spacing -1px

  ul li
    display inline
    color white

    &:not(:last-child)
      padding-right 15px
      margin-right 15px
      border-right 1px solid _white

    a
      color white
      // border-bottom 1px solid _primary

      &:hover
        // border none
        color _primary
