
header
  width 100%
  background-color white
  padding 30px
  box-sizing border-box
  border-bottom 1px solid _light

  .logo
    display inline-block
    cursor pointer

    span.tagline
      color _gray
      font-weight normal

nav
  float right
  font-size 18px

  ul li
    display inline

    &:not(:last-child)
      padding-right 15px
