<template name="users">

  <div class="wrapper white">

    <h1 class="white">{{users.count}} Users</h1>

    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Id</th>
          <th>Created</th>
          <th>Posts</th>
        </tr>
      </thead>

    {{#each users}}

      <tr>
        <td><a href="{{pathFor 'profile' username=username}}" target="_blank"><span class="zmdi zmdi-account"></span>{{username}}</a></td>
        <td>{{_id}}</td>
        <td>{{timeAgo createdAt}}</td>
        <td><span class="zmdi zmdi-equalizer"></span>{{posts _id}}</td>
      </tr>

    {{/each}}

    </table>

  </div>

</template>
