<template name="users">

  <div class="wrapper white">

    <h2>Users ({{users.count}})</h2>

    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Created</th>
          <th>Posts</th>
        </tr>
      </thead>

    {{#each users}}

      <tr>
        <td>{{_id}}</td>
        <td><a href="{{pathFor 'profile' username=username}}" target="_blank" class="zmdi zmdi-account">{{username}}</a></td>
        <td>{{timeAgo createdAt}}</td>
        <td>{{posts _id}}</td>
      </tr>

    {{/each}}

    </table>

  </div>

</template>
