<template name="groupPage">

  <!-- {{#if Template.subscriptionsReady}} -->

  {{#with group}}

    <div class="wrapper">

      <h1>{{name}}</h1>

      <div class="members">
        Maintained and moderated by

        <ul>
          {{#each members}}
            <li><a class="primary" href="{{pathFor 'profile' username=username}}">@{{username}}</a></li>
          {{/each}}
        </ul>
      </div>

      {{#if isMember}}
        {{> new groupId=_id }}
      {{/if}}

      {{#if isAuthor}}
      <div class="actions white">
        <li class="is-private">
          <label>
            <input type="checkbox" name="private" {{private}}>Private
          </label>
        </li>
      </div>

      <br>

        <a class="btn manage-group" name="manage-group"><span class="zmdi zmdi-edit"></span>Manage group</a>
      {{/if}}
    </div>

  {{/with}}

  {{#if posts}}

    <div class="grid">
      {{#each posts}}
        <div class="grid-item">
          {{> item }}
        </div>
      {{/each}}
    </div>

  {{else}}


  <div class="wrapper">

    <p class="large white">
      No posts yet.
    </p>

  </div>
  {{/if}}

  <!-- {{else}}
    {{> spinner }}
  {{/if}} -->

</template>
