<template name="item">

  <div class="item">

    <div class="embed">
      {{{html}}}
    </div>

    <div class="footer">
      <ul>
        <li class="posted-by">Posted by <a href="{{pathFor 'profile' username=authorName}}">{{authorName}}</a></li>
        {{#if isAdmin}}
          <li class="featured">
            <input type="checkbox" name="featured" value="Featured" {{isFeatured}}>Featured
          </li>
        {{/if}}
        {{#if isOwner}}<li class="delete-post">Delete</li>{{/if}}
      </ul>
    </div>

  </div>

</template>
