<template name="item">

  <div class="item">

    <div class="embed">
      {{#if html}}
        {{{html}}}
      {{else}}
        <div class="loading">
          {{> spinner }}
        </div>
      {{/if}}
    </div>

    <div class="footer info">
      <ul>
        <li class="posted-by">Posted by <a href="{{pathFor 'profile' username=authorName}}">{{authorName}}</a></li>
        {{#if isAdmin}}
          <li class="is-featured">
            <label>
              <input type="checkbox" name="featured" {{featured}}>Featured
            </label>
          </li>
        {{/if}}
        {{#if isOwner}}<li class="delete-post"><span class="zmdi zmdi-close"></span>Delete</li>{{/if}}
      </ul>
    </div>

  </div>

</template>
