<template name="item">

  <div class="item">

    <div class="embed">
      {{#if html}}
        {{{html}}}
      {{else}}
        <div class="loading">
          {{> spinner }}
        </div>
      {{/if}}
    </div>

    <div class="footer info">
      <div class="posted-by">
        By <a href="{{pathFor 'profile' username=authorName}}">@{{authorName}}</a>
      </div>

      <div class="actions">
        <ul>
        {{#if isAdmin}}
          <li class="is-featured">
            <label>
              <input type="checkbox" name="featured" {{featured}}>Featured
            </label>
          </li>
        {{/if}}

        {{#if isOwner}}
          <li class="is-private">
            <label>
              <input type="checkbox" name="private" {{private}}>Private
            </label>
          </li>

          <li class="delete-post">
            <a href="#"><span class="zmdi zmdi-close"></span>Delete</a>
          </li>
        {{/if}}
        </ul>
      </div>
    </div>

  </div>

</template>
