
h1
  // font-size 38px
  color _primary
  margin-top 0
  // margin-bottom 40px
  font normal 32px/1.4 'Maison Neue Mono Regular', Consolas 'Andale Mono', monospace
  letter-spacing -1px

h2
  font-size 16px
