.bold
  font-weight bold

/*
* For Info Text
*/
.info
  font normal 14px/1.4 'Maison Neue Mono Regular', Consolas 'Andale Mono', monospace
  letter-spacing -1px

/*
* Paragraph Styles
*/
// Large
.large
  -webkit-font-smoothing antialiased !important
  text-rendering optimizeLegibility
  font normal 40px/1.3 'Maison Neue Medium', Consolas 'Andale Mono', monospace
  letter-spacing -1px

  +below(1280px)
    font-size 34px

  +below(800px)
    font-size 28px
