<p>You are invited to join Rave, a place to share music.</p>

<p>To get started, create your account here:</p>

<a href="{{urlWithToken}}" title="Signup token" alt="Signup token">{{urlWithToken}}</a>
