<template name="register">

  <h1>Register</h1>

  <form class="register">
    <label for="username">{{#if errorMessage 'username'}}<span class="help-block">{{errorMessage 'username'}}</span>{{else}}Username{{/if}}</label>
    <input type="text" id="username" name="username" placeholder="Username">

    <label for="password">{{#if errorMessage 'password'}}<span class="help-block">{{errorMessage 'password'}}</span>{{else}}Password{{/if}}</label>
    <input type="password" id="password" name="password" placeholder="Passsword">

    <label for="token">{{#if errorMessage 'token'}}<span class="help-block">{{errorMessage 'token'}}</span>{{else}}Token{{/if}}</label>
    <input type="text" id="token" name="token" placeholder="Invite Token" value="{{prefillToken}}">

    <button type="submit">Register</button>
  </form>

</template>
