<template name="header">

  <div class="logo">
    <a href="{{pathFor 'index'}}"><img src="img/smiley.svg"></a>
  </div>

  {{#if currentUser}}
    {{> new }}
  {{/if}}

  <nav>
    <ul>

      {{#if currentUser}}
        {{#if isAdmin}}
          <li><a href="{{pathFor 'admin/invites'}}">Invites</a></li>
          <li><a href="{{pathFor 'admin/users'}}">Users</a></li>
        {{/if}}
        <li>Yo, <a href="{{pathFor 'profile' username=currentUser.username}}">{{currentUser.username}}</a></li>
        <li><a name="logout" href="#">Logout</a></li>
      {{else}}
        <li><a name="register" href="#">Register</a></li>
        <li><a name="login" href="#">Login</a></li>
      {{/if}}


    </ul>
  </nav>

</template>
