<template name="header">

  <div class="logo">
    <a href="{{pathFor 'index'}}"><img src="/img/smiley.svg"></a>
  </div>



  <nav>
    <ul>
      {{#if currentUser}}
        <li><a href="{{pathFor 'profile' username=currentUser.username}}"><span class="zmdi zmdi-view-dashboard"></span>{{currentUser.username}}</a></li>
        <li><a name="groups" href="{{pathFor 'groupList'}}"><span class="zmdi zmdi-arrow-merge"></span>Groups</a></li>

        {{#if isAdmin}}
          <li><a href="{{pathFor 'admin/invites'}}"><span class="zmdi zmdi-grain"></span>Invites</a></li>
          <li><a href="{{pathFor 'admin/users'}}"><span class="zmdi zmdi-accounts-outline"></span>Users</a></li>
        {{/if}}

        <li><a name="logout" href="#"><span class="zmdi zmdi-close"></span>Logout</a></li>
      {{else}}
        <li><a name="register" href="#">Register</a></li>
        <li><a name="login" href="#">Login</a></li>
      {{/if}}


    </ul>
  </nav>

</template>
