
button,
.btn
  color _primary
  background transparent
  no-select()
  cursor pointer
  // border none
  border 1px solid _primary
  box-sizing border-box
  padding 14px 15px
  font normal 14px/1.4 'Maison Neue Mono Regular', Consolas 'Andale Mono', monospace
  letter-spacing -1px

	&:focus
		outline none
