
textarea,
input[type='text'],
input[type='password']
	color _dark
	border 1px solid _light
	box-sizing border-box
	box-shadow none
	padding 20px
	appearance none
	outline none
	width 100%
	resize none
	border-radius 0

	&:focus
		outline none

select
	background-color white
	margin 20px auto
	font-size 22px

label
	color _dark
	font-size 12px
	font-weight bold
	text-transform uppercase
	letter-spacing 1px
	margin-bottom 10px
