
textarea,
input[type='text'],
input[type='password']
	color _dark
	border 1px solid _light
	box-sizing border-box
	box-shadow none
	padding 20px
	appearance none
	outline none
	width 100%
	resize none
	border-radius 0
	letter-spacing -1px
	margin-bottom 20px

	&:focus
		outline none

	&.dark
		color white
		border 1px solid rgba(255,255,255,.2)
		background transparent

	// prefill default
	&:-webkit-autofill
		background-color blue
		box-shadow 0 0 0px 1000px white inset

// placeholder text
::placeholder
	color rgba(255,255,255,.2)

select
	background-color white
	margin 20px auto
	font-size 22px

label
	display inline-block
	color _dark
	// font-size 16px
	font-weight bold
	text-transform uppercase
	margin-bottom 15px
