.grid
  display flex
  flex-flow row wrap
  align-items center
  // align-items flex-start
  justify-content center

  .grid-item
    border 1px solid _white
    transition border-color .2s
    padding 20px
    // align-self flex-start
    overflow hidden
    width 500px
    margin 10px

    &:hover
      border-color _primary

    .item
      margin 0 auto
