
.item
  font-size 15px
  color white

  .footer li
    >.posted-by
    >.featured
    >.delete-post

  .delete
    color white
    display none
    z-index 100
    cursor pointer

  .embed
    z-index 99
