
.overlay
	cursor pointer
	z-index 999
	top 0
	left 0
	width 100%
	height 100%
	position fixed
	background _dark

	.lightbox
		align(both)
		width 55%
		max-width 720px
		background-color white
		text-align left
		z-index 1000
