
.overlay
	cursor pointer
	z-index 999
	top 0
	left 0
	width 100%
	height 100%
	position fixed
	background _dark
	// color white

	.lightbox
		margin 10% auto 0 auto
		width 55%
		padding 60px
		max-width 720px
		background white
		// background _gray
		text-align left
		z-index 1000
