table
  width 100%

  td,
  th
    border 1px solid #333
    padding 15px

    a
      color _primary

      &:hover
        border-bottom 1px solid _primary

  > tr
    cursor pointer

    &:hover
      background rgba(255,255,255,.1)

  thead
    text-align left
    background rgba(255,255,255,.1)
