<template name="index">

  {{#if Template.subscriptionsReady}}

  <div class="wrapper">

    {{#if posts.count}}
      <p class="large">

        <div class="members">
          Here's some tracks and playlists featured from

          <ul>
            {{#each featuredUsernames}}
              <li><a href="{{pathFor 'profile' username=this}}">{{this}}</a></li>
            {{/each}}
          </ul>
        </div>

      </p>
    {{/if}}


  </div>

  <div class="grid">

    {{#each posts}}
      <div class="grid-item">
        {{> item }}
      </div>
    {{/each}}

  </div>

  {{else}}

    {{> spinner }}

  {{/if}}

</template>
