<template name="invites">

  <div class="wrapper white">

    <h1 class="white">{{invites.count}} Invites</h1>

    <table>
      <thead>
        <tr>
          <th>Sent to</th>
          <th>Token</th>
          <th>Created</th>
          <th>Used</th>
        </tr>
      </thead>

    {{#each invites}}

      <tr>
        <td>{{email}}</td>
        <td>
          {{#unless used}}
            <a href="?action=register&token={{token}}">{{token}}</a>
          {{else}}
            {{token}}
          {{/unless}}
        </td>
        <td>{{timeAgo createdAt}}</td>
        <td class="{{#if used}}primary{{/if}}">
          {{#if used}}
            <span class="zmdi zmdi-check"></span>
          {{/if}}
          {{readableBoolean used}}
        </td>
      </tr>

    {{/each}}

    </table>

  </div>

  <form>
    <label for="create-invite">Create new invite</label>
    <input type="text" id="create-invite" class="dark" name="create-invite" placeholder="Email Address">

    <button type="submit">Send invite</button>

  </form>

</template>
