<template name="invites">

  <div class="wrapper white">

    <h2>Invites ({{invites.count}})</h2>

    <table>
      <thead>
        <tr>
          <th>Sent to</th>
          <th>Token</th>
          <th>Created</th>
          <th>Used</th>
        </tr>
      </thead>

    {{#each invites}}

      <tr>
        <td>{{email}}</td>
        <td>{{token}}</td>
        <td>{{timeAgo createdAt}}</td>
        <td>{{readableBoolean used}}</td>
      </tr>

    {{/each}}

    </table>

  </div>

  <form>
    <label for="create-invite">Create new invite</label>
    <input type="text" id="create-invite" class="dark" name="create-invite" placeholder="Email Address">

    <button type="submit">Send invite</button>

  </form>

</template>
